{
  "tabWidth": 2,
  "parser": "typescript",
  "singleQuote": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
